@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Old Mincho", "EB Garamond", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", "serif";
  font-size: 1.8rem;
  font-weight: 500;
  color: #000000;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 920px;
  margin-inline: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 767px) {
  .inner {
    max-width: 31.5rem;
  }
}

/* ===========================
  共通
   =========================== */
.section__ttl {
  font-size: 3rem;
  color: #530700;
  text-align: center;
  margin-bottom: 0.6rem;
  line-height: 1.1;
  letter-spacing: 9.9px;
}
.section__ttl span {
  color: #000000;
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 4px;
  font-family: "EB Garamond", serif;
  display: block;
  margin-bottom: 3.8rem;
}

/*あとでアドレスに設定

.address {
  font-family: "Noto Serif JP", "Hiragino Mincho ProN", "游明朝", "Yu Mincho",
    "serif";
}*/
/* ===========================
   header
   =========================== */
#slider-sp {
  display: none;
}
@media (max-width: 767px) {
  #slider-sp {
    display: block;
  }
}

#slider-pc {
  display: block;
}
@media (max-width: 767px) {
  #slider-pc {
    display: none;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 0;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__logo {
  font-size: 2rem;
  white-space: nowrap;
  line-height: 0.6;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2.15rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo a {
  display: block;
  padding: 1rem 0;
  position: relative;
  color: #ffffff;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}
.header__logo a:hover {
  opacity: 0.5;
}

.header__item a {
  display: block;
  padding: 1rem 0;
  position: relative;
  color: #ffffff;
}
.header__item a::after {
  background-color: #ffffff;
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 0%;
  height: 0.2rem;
  -webkit-transition: width 0.8s ease;
  transition: width 0.8s ease;
}
.header__item a:hover::after {
  width: 100%;
}

.catchcopy {
  color: #ffffff;
  position: absolute;
  text-shadow: 0.5rem 0.5rem 0.5rem #000000;
  top: 63.75vh;
  left: 5.7407407407vw;
  height: 12.962962963vh;
  font-size: 3.7037037037vw;
  line-height: 1.75;
  letter-spacing: 12px;
}

/* ===========================
   feature
   =========================== */
#feature {
  background-image: url(../img/feature-back.svg);
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  width: 100%;
}
#feature .feature__inner {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  height: 100vh;
  width: 100%;
}
#feature .feature__ttl {
  font-size: 3rem;
  color: #530700;
  line-height: 1.8;
}
#feature .feature__dsc {
  line-height: 1.37;
}

/* ===========================
  いちおし recommend
   =========================== */
#recommend {
  padding: 8rem 0;
  background-color: rgba(83, 7, 0, 0.1019607843);
}

.recommend-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 20rem;
}

.recommend__img {
  width: 65%;
  position: relative;
}

.caption {
  font-size: 1.6rem;
  line-height: 0.64;
  margin-top: 1.3rem;
}

.recommend__ttl {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 1.7rem;
}

.recommend__text {
  background-color: #530700;
  max-width: 50rem;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.56;
  text-align: left;
  padding: 5rem 2rem 4.2rem 22rem;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}

.recommend-item:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.recommend-item:nth-of-type(even) .caption {
  text-align: right;
}
.recommend-item:nth-of-type(even) .recommend__text {
  right: auto;
  top: 50%;
  left: 0;
  padding: 5rem 22rem 4.2rem 2rem;
}

/* ===========================
  コース　course
   =========================== */
#course {
  background-image: url(../img/course-back.svg);
  padding: 8rem 9.7rem;
}

.course__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course__item {
  width: 21.7%;
}

.course__ttl {
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.56;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.modal__overlay {
  background: rgba(0, 0, 0, 0.7);
  /* 半透明グレー背景 */
  position: absolute;
  inset: 0;
}

.modal__content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 41.6%;
  max-height: 80%;
  background: #fff;
  padding: 2.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.502);
          box-shadow: rgba(0, 0, 0, 0.502);
  z-index: 10000;
}

.modal__text {
  margin-top: 1.9rem;
}

.modal__content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  z-index: 10001;
}

/* ===========================
   お知らせ　news
   =========================== */
#news {
  background-color: rgba(83, 7, 0, 0.1019607843);
  padding: 8rem 0;
}

.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__list,
.blog__list {
  width: 47%;
}

.news__ttl,
.blog__ttl {
  background-color: #530700;
  color: #ffffff;
  padding: 0.8rem 0 0.9rem 2rem;
  font-size: 2rem;
  line-height: 1.65;
}

.news__items,
.blog__items {
  background-color: #ffffff;
  padding: 1rem 0 7.4rem;
}

.news__item a,
.blog__item a {
  color: #000000;
  display: grid;
  grid-template-columns: 12.2rem 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 2rem;
  padding: 2rem;
  position: relative;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.news__item a::after,
.blog__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 0.1rem;
  background-color: #530700;
}

.news__item a:hover,
.blog__item a:hover {
  opacity: 0.5;
}

.news__text,
.blog__text {
  line-height: 1.38;
}

.news__date {
  font-size: 1.6rem;
  line-height: 2.06;
}

.news__text .blog__text {
  line-height: 1.38;
}

.more {
  position: relative;
}

.more a {
  display: block;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  width: 12rem;
}
.more a:hover {
  opacity: 0.5;
}

.more__text {
  color: #530700;
  position: absolute;
  right: 0;
  bottom: -4rem;
  font-size: 2rem;
  line-height: 1.65;
  padding: 0 5.5rem 0 0;
}

.more img {
  position: absolute;
  bottom: -5rem;
  right: 2rem;
  width: 8rem;
}

/* ===========================
  アクセス　access
   =========================== */
#access {
  padding: 8rem 0;
  background-image: url(../img/access-back.svg);
  position: relative;
  z-index: -1;
}

.access__map {
  width: 55%;
  max-width: 60rem;
  aspect-ratio: 3/2;
}

.access__content {
  background-color: #530700;
  color: #ffffff;
  max-width: 50rem;
  padding: 5rem 2rem 4.2rem 22rem;
  position: absolute;
  top: 70%;
  left: 45%;
  z-index: -1;
}

.access__company-name {
  font-size: 2rem;
  line-height: 1.65;
  margin-bottom: 0.7rem;
}

.access__address {
  font-size: 1.6rem;
  line-height: 1.56;
  margin-bottom: 1.2rem;
}

.access__tel {
  margin-bottom: 1.9rem;
}
.access__tel a {
  font-size: 2rem;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  color: inherit;
}
.access__tel a:hover {
  opacity: 0.5;
}

.access__email {
  font-size: 1.6rem;
}
.access__email a {
  color: inherit;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  cursor: pointer;
}
.access__email a:hover {
  opacity: 0.5;
}

/* ===========================
   ご予約　お問い合わせ 
Reservations / Contact
   =========================== */
#contact {
  padding: 8rem 0;
  background-color: rgba(83, 7, 0, 0.1019607843);
}

.contact__lead {
  margin: 3.5rem 0 3.7rem;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5rem;
  gap: 2rem;
  font-size: 2rem;
  line-height: 1.65;
}

.contact__label {
  width: 18rem;
}

.contact__item input[type=text],
.contact__item input[type=email],
#course {
  width: 63rem;
  height: 5rem;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

#name,
#email,
#message {
  padding: 1.2rem 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.8rem;
}

.form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#message {
  width: 80rem;
  height: 20rem;
}

.contact__checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.4rem;
  margin-bottom: 5.4rem;
}

.contact__checkbox {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__checkbox input {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.contact__item--column {
  display: block;
}

.contact__item--column > .contact__label {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.contact__privacy-box {
  max-width: 70rem;
  height: 30rem;
  background-color: #ffffff;
  overflow-y: scroll;
  border: 1px solid #ffffff;
  padding: 4rem;
}

button {
  display: block;
  margin-inline: auto;
  padding: 0.8rem 6rem;
  margin-top: 8rem;
  text-align: center;
  background-color: #530700;
  color: #ffffff;
  font-size: 2rem;
  border: 1px solod #530700;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  cursor: pointer;
}
button:hover {
  background-color: #ffffff;
  color: #530700;
  border: 1px solid #530700;
}

/* ===========================
footer
   =========================== */
#footer {
  background-image: url(../img/footer-back.svg);
  padding-top: 8rem;
  text-align: center;
  color: #000000;
}

.company__name {
  font-size: 2rem;
  line-height: 1.65;
  padding-bottom: 2.8rem;
  border-bottom: 1px solid;
}

.sns__item {
  margin-inline: auto;
  width: 2.8rem;
  gap: 3rem;
}

.footer__item a,
.sns__item a {
  display: block;
  text-align: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 0 2.6rem;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 26rem;
  margin-bottom: 7.8rem;
}

.copyright {
  background-color: #530700;
  padding: 3rem 0;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.65;
}/*# sourceMappingURL=style.css.map */