@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: "Zen Old Mincho", "EB Garamond", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", "serif";
  font-size: 1.8rem;
  font-weight: 500;
  color: #000000;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.inner {
  max-width: 98rem;
  margin-inline: auto;
  padding: 0 3rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 767px) {
  .inner {
    max-width: none;
  }
}
@media (max-width: 355px) {
  .inner {
    padding: 0 1.5rem;
  }
}

section {
  scroll-margin-top: 9rem;
}
@media (max-width: 980px) {
  section {
    scroll-margin-top: 5rem;
  }
}

html:has(dialog[open]) {
  overflow: hidden;
}

/* ===========================
  共通
   =========================== */
.section__ttl {
  font-size: 3rem;
  color: #530700;
  text-align: center;
  row-gap: 0.6rem;
  line-height: 1.1;
  letter-spacing: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}
.section__ttl .subttl {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.2em;
  font-family: "EB Garamond", "Georgia", "Times New Roman", "Noto Serif JP", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", serif;
  display: block;
}

.pc-only {
  display: block;
}
@media (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

/* ===========================
   header
   =========================== */
#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}
@media (max-width: 940px) {
  #header {
    height: 5rem;
  }
}

.header__inner {
  max-width: 96rem;
  margin-inline: auto;
  padding: 0 1rem 0 2rem;
}

@media (max-width: 767px) {
  .header .inner {
    padding-left: 2rem;
  }
}

.header-scroll {
  background-color: #530700;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}
@media (max-width: 1000px) {
  .header__container {
    padding: 0 3rem 0 3rem;
  }
}
@media (max-width: 940px) {
  .header__container {
    padding-left: 2.2rem;
    height: 5rem;
  }
}

.header__logo {
  font-size: 2rem;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
}

.header__nav {
  right: auto;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 940px) {
  .header__nav {
    position: fixed;
    top: 5rem;
    right: -100%;
    text-align: left;
    background-color: #530700;
    z-index: 999999;
  }
}

.header__nav.active {
  right: 0;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
  width: 30rem;
}

.header__item {
  height: 8rem;
}
@media (max-width: 940px) {
  .header__item {
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.8333333333;
    height: 5.8rem;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.2rem;
}
@media (max-width: 940px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
    width: 100%;
  }
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  position: relative;
  color: #ffffff;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}
@media (max-width: 940px) {
  .header__logo a {
    height: 5rem;
  }
}
.header__logo a:hover {
  opacity: 0.5;
}
@media (max-width: 940px) {
  .header__logo a:hover {
    opacity: 0.5;
  }
}

.header__item a {
  height: 100%;
  position: relative;
  color: #ffffff;
  padding: 0 1rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 940px) {
  .header__item a {
    background-color: #530700;
    padding-left: 2rem;
    padding-right: 0;
    width: 100%;
    height: 5.7rem;
    line-height: 1;
  }
}
@media (max-width: 940px) {
  .header__item a:hover {
    background-color: #000000;
    color: #ffffff;
    opacity: 1;
  }
}
.header__item a::after {
  background-color: #ffffff;
  content: "";
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 0%;
  height: 0.2rem;
  -webkit-transition: width 0.8s ease;
  transition: width 0.8s ease;
}
.header__item a:hover::after {
  width: 100%;
  opacity: 1;
}
@media (max-width: 940px) {
  .header__item a:hover::after {
    display: none;
  }
}

.slider {
  position: relative;
}

.catchcopy {
  color: #ffffff;
  position: absolute;
  text-shadow: 0.5rem 0.5rem 0.5rem #000000;
  top: 31.4814814815vw;
  left: 5.7407407407vw;
  font-size: 3.7037037037vw;
  line-height: 1.75;
  letter-spacing: 1.1111111111vw;
  z-index: 2;
}
@media (max-width: 767px) {
  .catchcopy {
    font-size: 8vw;
    letter-spacing: 2.4vw;
    line-height: 2;
    text-align: center;
    top: 64vw;
    left: 20.8vw;
  }
}

.header__img-first {
  position: relative;
}
.header__img-first::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 1;
  mix-blend-mode: multiply;
}
.header__img-first img {
  position: relative;
  z-index: 0;
}

/* ===========================
   ハンバーガーメニュー
   =========================== */
.hamburger {
  cursor: pointer;
  width: 7.2rem;
  height: 5rem;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100001;
}
@media (max-width: 940px) {
  .hamburger {
    display: block;
  }
}

.hamburger span {
  width: 3.2rem;
  height: 0.4rem;
  border-radius: 10px;
  background-color: #530700;
  display: inline-block;
  position: absolute;
  left: 2rem;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.hamburger span:nth-of-type(1) {
  top: 1.1rem;
}
.hamburger span:nth-of-type(2) {
  top: 2.3rem;
}
.hamburger span:nth-of-type(3) {
  top: 3.5rem;
}

.hamburger.active span:nth-of-type(1) {
  top: 2.3rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
  top: 2.3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* ===========================
   feature 
   =========================== */
#feature {
  background-image: url(../img/feature-back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13.4rem 0 11.5rem;
  width: 100%;
  margin-inline: auto;
}
@media (max-width: 767px) {
  #feature {
    background-image: url(../img/feature-back-sp.svg);
    padding: 6.3rem 0 5.5rem;
  }
}

.feature__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
@media (max-width: 767px) {
  .feature__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature__ttl {
  font-size: 3rem;
  color: #530700;
  white-space: nowrap;
  letter-spacing: 0.5rem;
  margin-left: 5.8rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media (max-width: 767px) {
  .feature__ttl {
    font-size: 2.4rem;
    margin-left: 0;
    letter-spacing: 0.5rem;
  }
}

.feature__ttl span {
  display: block;
  margin-left: 2rem;
}
@media (max-width: 767px) {
  .feature__ttl span {
    margin-left: 2.4rem;
  }
}
.feature__ttl span:last-of-type {
  margin-left: 0;
}

.feature__container {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media (max-width: 767px) {
  .feature__container {
    margin-top: 4.3rem;
  }
}

.feature__dsc {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.feature__dsc span {
  display: block;
  line-height: 1;
  letter-spacing: 0.7rem;
  white-space: nowrap;
  margin-left: 3rem;
}
@media (max-width: 767px) {
  .feature__dsc span {
    font-size: 1.6rem;
    margin-left: 1rem;
    letter-spacing: 0.6rem;
  }
}
.feature__dsc span:last-of-type {
  margin-left: 0;
}

/* ===========================
  いちおし recommend
   =========================== */
#recommend {
  padding: 8rem 0;
  background-color: rgba(83, 7, 0, 0.1);
}
@media (max-width: 767px) {
  #recommend {
    padding: 5.4rem 0 5rem;
  }
}

.recommend__list {
  margin-top: 6.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8rem;
}
@media (max-width: 767px) {
  .recommend__list {
    margin-top: 3.5rem;
    row-gap: 5.1rem;
  }
}

.recommend-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.recommend-item:nth-of-type(3) {
  margin-bottom: 0;
}
@media (max-width: 970px) {
  .recommend-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .recommend-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.recommend-item:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 0;
}
@media (max-width: 767px) {
  .recommend-item:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.recommend-item:nth-of-type(even) .caption {
  text-align: right;
}
@media (max-width: 767px) {
  .recommend-item:nth-of-type(even) .caption {
    text-align: left;
  }
}

.caption {
  font-size: 1.6rem;
  line-height: 1.56;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
  text-align: left;
}
@media (max-width: 767px) {
  .caption {
    display: block;
    margin-top: 0.6rem;
    position: static;
  }
}

.recommend__img {
  display: inline-block;
  aspect-ratio: 2/1;
  position: relative;
  width: 65.2173913043%;
  padding-bottom: 5.3rem;
}
@media (max-width: 767px) {
  .recommend__img {
    position: static;
    width: 100%;
    max-width: none;
    padding-bottom: 0;
    margin-bottom: 0.6rem;
  }
}

.recommend__ttl {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1.4rem;
}
@media (max-width: 890px) {
  .recommend__ttl {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .recommend__ttl {
    font-size: 2rem;
    line-height: 1.35;
    font-weight: 600;
    margin-bottom: 0.9rem;
  }
}
@media (max-width: 355px) {
  .recommend__ttl {
    font-size: 1.8rem;
  }
}

.recommend__text {
  background-color: #530700;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.56;
  position: relative;
  padding: 5rem 0 4.2rem 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.recommend__text::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 18rem;
  width: 100%;
  height: 100%;
  background-color: #530700;
  z-index: -1;
}
@media (max-width: 970px) {
  .recommend__text {
    padding: 5rem 0 4.2rem 2.5rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 890px) {
  .recommend__text {
    padding: 5rem 0 4.2rem 1.5rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .recommend__text {
    padding: 2rem 0 1.2rem 2rem;
    margin: 0;
    position: static;
    font-size: 1.6rem;
  }
  .recommend__text::before {
    display: none;
  }
}
@media (max-width: 767px) and (max-width: 355px) {
  .recommend__text {
    padding: 2rem 1.5rem 1rem;
    font-size: 1.5rem;
  }
}

.recommend-item:nth-of-type(even) .recommend__text::before {
  left: 18rem;
}

/* ===========================
コース　course
 =========================== */
#course {
  background-image: url(../img/course-back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 0 9.7rem;
  width: 100%;
}
@media (max-width: 767px) {
  #course {
    padding: 5.3rem 0 6rem;
    background-image: url(../img/course-back-sp.svg);
  }
}

.course__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 6.5rem;
  gap: 4.35%;
  width: 100%;
}
@media (max-width: 767px) {
  .course__list {
    display: block;
    margin-top: 3.5rem;
    gap: 0;
  }
}

.course__item {
  cursor: pointer;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  width: 21.7375%;
}
.course__item:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .course__item {
    width: 100%;
    margin-bottom: 2rem;
  }
  .course__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .course__item:last-child .course__ttl {
    margin-bottom: 0;
  }
}

.course__ttl {
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.56;
  text-align: center;
  margin-top: 2rem;
}
.course__ttl span {
  display: block;
}
@media (max-width: 767px) {
  .course__ttl span {
    display: inline;
  }
}
@media (max-width: 767px) {
  .course__ttl {
    margin-top: 1rem;
    text-align: left;
  }
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.502);
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;
}

.modal__content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 41.6%;
  max-height: 80%;
  background: #fff;
  padding: 1.5rem 1.5rem 0.6rem;
  z-index: 10000;
}
@media (max-width: 767px) {
  .modal__content {
    max-width: 84%;
    height: auto;
    padding: 2rem 2.1rem 1.4rem 2rem;
  }
}

.modal__text {
  margin-top: 0.9rem;
  font-size: 1.6rem;
  line-height: 1.5625;
}
@media (max-width: 767px) {
  .modal__text {
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  span#modalPrice {
    margin-left: -0.5rem;
  }
}

.modal__content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.modal__content .modal__close {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 0.3rem;
  right: 0.4rem;
  color: #333;
  cursor: pointer;
  z-index: -1;
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .modal__content .modal__close {
    top: 0.6rem;
    right: 0.5rem;
  }
}

/* ===========================
 お知らせ　news
 =========================== */
#news {
  background-color: rgba(83, 7, 0, 0.1);
  padding: 8.2rem 0 7.8rem;
}
@media (max-width: 767px) {
  #news {
    padding: 5rem 0 5rem;
  }
}

.news__inner {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6%;
  margin-top: 6.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.news__inner > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  max-width: 43rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}
@media (max-width: 767px) {
  .news__inner {
    display: block;
    margin-top: 3.8rem;
  }
}
.news__inner > * {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.news__list,
.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .news__list,
  .blog__list {
    display: block;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .news__list {
    margin-bottom: 4.9rem;
  }
}

.news__ttl,
.blog__ttl {
  background-color: #530700;
  color: #ffffff;
  padding: 0.9rem 0 0.9rem 2rem;
  font-size: 2rem;
  line-height: 1.65;
}
@media (max-width: 767px) {
  .news__ttl,
  .blog__ttl {
    padding: 1rem 0 0.8rem 2rem;
  }
}

.news__items,
.blog__items {
  background-color: #ffffff;
  padding: 1rem 2rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__item,
.blog__item {
  position: relative;
  border-bottom: 1px solid #530700;
}

.news__item a,
.blog__item a {
  color: #000000;
  display: grid;
  grid-template-columns: 12.3rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  max-width: 43rem;
  width: 100%;
  padding: 2.1rem 0 1.2rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 880px) {
  .news__item a,
  .blog__item a {
    grid-template-columns: 8rem 1fr;
  }
}
@media (max-width: 767px) {
  .news__item a,
  .blog__item a {
    grid-template-columns: 7.2rem 1fr;
    max-width: none;
  }
}

.news__item a:hover,
.blog__item a:hover {
  opacity: 0.5;
}

.news__text,
.blog__text {
  line-height: 1.38;
}

.news__date {
  font-size: 1.6rem;
  line-height: 1;
  -ms-flex-item-align: start;
      align-self: start;
}
@media (max-width: 767px) {
  .news__date {
    padding-top: 0.15rem;
  }
}

.news__text .blog__text {
  line-height: 1.38;
}

@-webkit-keyframes shake-right-loop {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake-right-loop {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.more {
  text-align: right;
  padding: 2.3rem;
  background-color: #ffffff;
  padding: 2.9rem 2rem 2rem;
}
@media (max-width: 767px) {
  .more {
    padding: 2.9rem 1.9rem 1.8rem;
  }
}

.more a {
  display: inline-block;
}
@media (max-width: 767px) {
  .more a {
    bottom: -0.6rem;
    left: 0.6rem;
  }
}
.more a:hover {
  -webkit-animation: shake-right-loop 0.6s ease-in-out infinite;
          animation: shake-right-loop 0.6s ease-in-out infinite;
}

/* ===========================
アクセス　access
 =========================== */
#access {
  padding: 8.3rem 0 8rem;
  background-image: url(../img/access-back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
@media (max-width: 767px) {
  #access {
    padding: 5.2rem 0 3.3rem;
    background-image: url(../img/access-back-sp.svg);
  }
}

.access__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 7rem;
}
@media (max-width: 767px) {
  .access__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 4rem;
  }
}

.access__map {
  pointer-events: none;
  width: 65.2%;
  position: relative;
  z-index: 11;
  padding-bottom: 5.5rem;
}
@media (max-width: 767px) {
  .access__map {
    width: 100%;
    max-width: none;
    padding-bottom: 0;
    height: auto;
    max-height: none;
  }
}

.access__map iframe {
  aspect-ratio: 600/400;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  display: block;
}

@media (max-width: 767px) {
  .access__map iframe {
    aspect-ratio: 315/300;
  }
}
.access__content {
  background-color: #530700;
  color: #ffffff;
  padding: 5rem 0 4.2rem 4rem;
  position: relative;
  z-index: 10;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.access__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -18rem;
  width: 100%;
  height: 100%;
  background-color: #530700;
  z-index: -1;
}
@media (max-width: 970px) {
  .access__content {
    padding: 4.1rem 0 3.5rem 2rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .access__content {
    position: static;
    max-width: none;
    width: 100%;
    height: auto;
    top: auto;
    left: auto;
    margin-top: 1.5rem;
    padding: 2rem 0 2rem 2rem;
  }
  .access__content::before {
    display: none;
  }
}

.access__company-name {
  font-size: 2rem;
  line-height: 1.65;
  margin-bottom: 0.7rem;
}
@media (max-width: 767px) {
  .access__company-name {
    margin-bottom: 0.6rem;
  }
}

.access__address {
  font-size: 1.6rem;
  line-height: 1.56;
  margin-bottom: 1.2rem;
}
.access__address span {
  font-family: "Noto Serif JP", "Yu Mincho", "Hiragino Mincho ProN", "MS PMincho", serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
}
@media (max-width: 767px) {
  .access__address {
    margin-bottom: 1rem;
  }
}

.access__tel {
  margin-bottom: 1.8rem;
  font-family: "Noto Serif JP", "Yu Mincho", "Hiragino Mincho ProN", "MS PMincho", serif;
}
@media (max-width: 767px) {
  .access__tel {
    margin-bottom: 1.4rem;
  }
}

a {
  text-decoration: none;
}

.access__label {
  font-size: 1.6rem;
  line-height: 1;
  font-family: "Noto Serif JP", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Yu Mincho", "游明朝体", serif;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: inline-block;
  vertical-align: bottom;
}

.access__number {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 500;
  line-height: 1;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  color: #ffffff;
  cursor: default;
  display: inline-block;
  vertical-align: bottom;
}
@media (max-width: 767px) {
  .access__number {
    cursor: pointer;
    margin-left: 0.1rem;
  }
  .access__number:hover {
    opacity: 0.5;
  }
}

.access__number--pc {
  display: inline-block;
}
@media (max-width: 767px) {
  .access__number--pc {
    display: none;
  }
}

.access__number--sp {
  display: none;
}
@media (max-width: 767px) {
  .access__number--sp {
    display: inline-block;
  }
}

.access__email {
  font-size: 1.6rem;
  font-family: "Noto Serif JP", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", "serif";
  line-height: 1.5625;
}
.access__email a {
  color: inherit;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  cursor: pointer;
  margin-left: 1.2rem;
  text-decoration: none;
}
.access__email a:hover {
  opacity: 0.5;
}

/* ===========================
   ご予約　お問い合わせ 
Reservations / Contact
   =========================== */
#contact {
  padding: 8.3rem 0;
  background-color: rgba(83, 7, 0, 0.1);
}
@media (max-width: 767px) {
  #contact {
    padding: 5rem 0 5rem;
  }
}

@media (max-width: 767px) {
  #contact .section__ttl {
    letter-spacing: 0;
    white-space: nowrap;
  }
}
#contact .section__ttl span {
  margin-bottom: 0rem;
}

#contact .inner {
  max-width: 86rem;
  font-size: 2rem;
  line-height: 1.65;
}

form {
  margin-top: 3.4rem;
}
@media (max-width: 767px) {
  form {
    margin-top: 3.7rem;
  }
}

.contact__lead {
  margin-bottom: 3.7rem;
}
@media (max-width: 767px) {
  .contact__lead {
    margin-bottom: 2.8rem;
  }
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5.1rem;
  font-size: 2rem;
  line-height: 1.65;
  width: 100%;
}
@media (max-width: 1024px) {
  .contact__item {
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 855px) {
  .contact__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 80rem;
  }
}
@media (max-width: 767px) {
  .contact__item {
    margin-bottom: 3.1rem;
  }
}
.contact__item:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 855px) {
  .contact__item--radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 374px) {
  .contact__item--radio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact__label-wrapper {
  width: 17rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 767px) {
  .contact__label-wrapper {
    width: auto;
  }
}

@media (max-width: 855px) {
  .contact__item--radio .contact__label-wrapper {
    width: 10rem;
  }
}
@media (max-width: 767px) {
  .contact__item--radio .contact__label-wrapper {
    width: 6.3rem;
  }
}

.contact__label {
  display: inline-block;
}

.contact__item input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 767px) {
  .contact__item input {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .label__short {
    width: 4rem;
  }
}

@media (max-width: 767px) {
  .contact__item--radio .contact__label {
    margin-bottom: 0;
  }
}

.contact__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.9rem;
}
@media (max-width: 855px) {
  .contact__radios {
    gap: 4rem;
  }
}
@media (max-width: 767px) {
  .contact__radios {
    gap: 1.2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact__radio {
  font-size: 1.8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  line-height: 1;
}

input[type=radio] {
  width: 2rem;
  height: 2rem;
  margin-right: 1.9rem;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  clip-path: circle(50%);
}

input[type=radio]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.sp-only {
  display: none;
}
@media (max-width: 767px) {
  .sp-only {
    display: block;
    text-align: right;
  }
}

.contact__item input[type=text],
.contact__item input[type=email],
#course__select {
  max-width: 63rem;
  height: 4.8rem;
  background-color: #ffffff;
  border: none;
  width: 100%;
  font-size: 1.6rem;
}
@media (max-width: 855px) {
  .contact__item input[type=text],
  .contact__item input[type=email],
  #course__select {
    max-width: none;
  }
}
@media (max-width: 767px) {
  .contact__item input[type=text],
  .contact__item input[type=email],
  #course__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#course__select {
  font-size: 1.8rem;
  line-height: 1.38;
  padding-left: 1.8rem;
  padding-top: 0.3rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/dropdown.svg);
  background-repeat: no-repeat;
  background-position: right 2rem top 2rem;
  color: #000000;
  cursor: pointer;
}

#name,
#email,
#message {
  padding: 0.9rem 2rem 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.8rem;
}

.form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding-right: 3rem;
}

#message {
  width: 100%;
  max-width: 80rem;
  min-height: 20rem;
  border: none;
  resize: vertical;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6;
}

#name::-webkit-input-placeholder, #email::-webkit-input-placeholder {
  font-size: 1.6rem;
}

#name::-moz-placeholder, #email::-moz-placeholder {
  font-size: 1.6rem;
}

#name:-ms-input-placeholder, #email:-ms-input-placeholder {
  font-size: 1.6rem;
}

#name::-ms-input-placeholder, #email::-ms-input-placeholder {
  font-size: 1.6rem;
}

#name::placeholder,
#email::placeholder {
  font-size: 1.6rem;
}

.contact__checkboxes {
  display: grid;
  grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  row-gap: 2rem;
  -webkit-column-gap: 3.5rem;
     -moz-column-gap: 3.5rem;
          column-gap: 3.5rem;
}
@media (max-width: 830px) {
  .contact__checkboxes {
    grid-template-columns: repeat(3, 22rem);
  }
}
@media (max-width: 700px) {
  .contact__checkboxes {
    grid-template-columns: repeat(3, 18rem);
  }
}
@media (max-width: 560px) {
  .contact__checkboxes {
    grid-template-columns: repeat(2, 20rem);
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
    row-gap: 0.4rem;
  }
}
@media (max-width: 470px) {
  .contact__checkboxes {
    grid-template-columns: repeat(2, 15.1rem);
  }
}
@media (max-width: 767px) {
  .contact__checkboxes {
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
    row-gap: 1rem;
  }
}

.contact__checkbox {
  font-size: 1.8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  white-space: nowrap;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .contact__checkbox {
    font-size: 1.6rem;
    -webkit-column-gap: 0.1rem;
       -moz-column-gap: 0.1rem;
            column-gap: 0.1rem;
  }
}

.contact__checkbox input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #ffffff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .contact__checkbox input {
    margin-right: 1rem;
  }
}
.contact__checkbox input:checked {
  background-color: #ffffff;
}
.contact__checkbox input:checked::after {
  content: "✔";
  color: #530700;
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.contact__item--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5rem;
}
@media (max-width: 767px) {
  .contact__item--column {
    margin-bottom: 2.8rem;
  }
}

.contact__item--column > .contact__label {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .contact__item--column > .contact__label {
    margin-bottom: 0.2rem;
  }
}

label[for=message] {
  margin-bottom: 1.3rem;
}
@media (max-width: 767px) {
  label[for=message] {
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 767px) {
  .contact__item--column > .contact__label.contact__select {
    margin-bottom: 1rem;
  }
}

.inline-block {
  display: inline-block;
}

@media (max-width: 767px) {
  .contact__item--column > .contact__label.contact__privacy {
    margin-bottom: 0;
  }
}

.contact__item-mgb {
  margin-bottom: 5.5rem;
}
@media (max-width: 767px) {
  .contact__item-mgb {
    margin-bottom: 3.3rem;
  }
}

.contact__privacy-box {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 3.8rem 7rem 5rem 4rem;
  overflow-y: scroll;
  margin-inline: auto;
  margin-top: 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-wrap: break-word;
  line-height: 1.7222222222;
}
@media (max-width: 767px) {
  .contact__privacy-box {
    padding: 3rem 5rem 5rem 3rem;
    max-height: 32.3rem;
    margin-top: 0;
  }
}

.contact__privacy-box h3,
.contact__privacy-box p,
.contact__privacy-box ul,
.contact__privacy-box li {
  font-size: 1.8rem;
  line-height: 1.7222222222;
  letter-spacing: normal;
}
@media (max-width: 767px) {
  .contact__privacy-box h3,
  .contact__privacy-box p,
  .contact__privacy-box ul,
  .contact__privacy-box li {
    font-size: 1.6rem;
    line-height: 2.0625;
  }
}

.contact__privacy-box li {
  padding-left: 2rem;
  position: relative;
  margin: 0;
}
.contact__privacy-box li::after {
  position: absolute;
  content: "";
  top: 1.4rem;
  left: 0.6rem;
  width: 0.4rem;
  aspect-ratio: 1/1;
  background-color: #000;
  border-radius: 50%;
}

.contact__privacy-box p {
  margin-bottom: 3rem;
}

.contact__privacy-box p.mg0 {
  margin: 0;
}

.mgt-30 {
  margin-top: 3rem;
}

.contact__privacy-box-company p {
  margin: 0;
}

/* iOS・Chrome用の角丸リセット＆デザイン指定 */
#contact input[type=text],
#contact input[type=email],
#contact textarea {
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
       appearance: none !important;
  outline: none;
}

#contact select,
#contact #course__select {
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
       appearance: none !important;
  background-color: #ffffff;
  background-clip: padding-box;
  padding: 0.8rem 2rem;
  font-size: 1.8rem;
  line-height: 1.38;
  cursor: pointer;
  outline: none;
}

#contact select:focus,
#contact input:focus,
#contact textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact__privacy-box {
  /* Firefox用 */
  scrollbar-width: none;
  /* IE, Edge用 */
  -ms-overflow-style: none;
  /* WebKit用 */
}
.contact__privacy-box::-webkit-scrollbar {
  display: none;
}

.contact__privacy-box .simplebar-track.simplebar-vertical {
  top: 1rem;
  bottom: 1rem;
  height: auto;
}

/* SimpleBar のスクロールバー本体 */
.contact__privacy-box .simplebar-scrollbar {
  width: 10px;
}

/* スクロールバーのつまみ */
.contact__privacy-box .simplebar-scrollbar::before {
  background-color: rgb(155, 155, 155);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 3rem;
  border-radius: 0;
  opacity: 1 !important;
  -webkit-transition: none !important;
  transition: none !important;
}

/* スクロールバーのトラック背景 */
.contact__privacy-box .simplebar-track.simplebar-vertical {
  right: 10px;
  background-color: rgb(227, 227, 227);
  width: 10px;
}

button {
  cursor: pointer;
  display: block;
  margin-inline: auto;
  padding: 1.4rem 6rem;
  margin-top: 7.6rem;
  text-align: center;
  background-color: #530700;
  color: #ffffff;
  font-size: 2rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  line-height: 1;
  border: 1px solid #530700;
}
@media (max-width: 767px) {
  button {
    max-width: 33.5rem;
    width: 100%;
    margin-top: 5rem;
  }
}
@media (max-width: 365px) {
  button {
    padding: 1rem;
  }
}
button .br365 {
  display: none;
}
@media (max-width: 365px) {
  button .br365 {
    display: block;
  }
}
button:hover {
  background-color: #ffffff;
  color: #530700;
}

/* ===========================
footer
   =========================== */
#footer {
  background-image: url(../img/footer-back.svg);
  padding-top: 7.8rem;
  text-align: center;
  color: #000000;
}
@media (max-width: 767px) {
  #footer {
    padding-top: 5.1rem;
    background-image: url(../img/footer-back-sp.svg);
  }
}

.company__name {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.65;
  position: relative;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.company__name:hover {
  opacity: 0.5;
}

.company__line {
  display: block;
  background-color: #000000;
  margin-top: 2.8rem;
  margin-inline: auto;
  max-width: 72.2rem;
  height: 1px;
  pointer-events: none;
}
@media (max-width: 767px) {
  .company__line {
    max-width: none;
    margin-top: 1.8rem;
  }
}

.footer__item a,
.sns__item a {
  display: block;
  text-align: center;
  color: #000000;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  padding: 1rem;
}
.footer__item a:hover,
.sns__item a:hover {
  opacity: 0.5;
}

.footer__nav {
  margin: 2.6rem 0 7.2rem;
}
@media (max-width: 767px) {
  .footer__nav {
    margin: 2rem 0 4rem;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1;
}
@media (max-width: 767px) {
  .footer__list {
    gap: 0.4rem;
    line-height: 0.8;
  }
}

.sns__container {
  margin-top: 1.4rem;
}

.sns__item img {
  width: 2.8rem;
  margin: 0;
  padding: 0;
  display: block;
}

.sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
}
@media (max-width: 767px) {
  .sns__list {
    gap: 1rem;
  }
}

.sns__item,
.sns__item a {
  margin: 0;
  padding: 0;
  display: block;
}

.sns__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  text-align: center;
}

.copyright {
  background-color: #530700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 9.2rem;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  font-family: "EB Garamond", "Georgia", "Times New Roman", "Noto Serif JP", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", serif;
}
@media (max-width: 767px) {
  .copyright {
    height: 10rem;
  }
}

/* ===========================
 トップへ戻るボタン
 =========================== */
.page-top a {
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  clip-path: circle(50%);
}
@media (max-width: 767px) {
  .page-top a {
    right: 2rem;
    bottom: 6rem;
  }
}

.page-top {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.page-top:hover {
  opacity: 0.5;
}

.page-top img {
  width: 6.8rem;
}
@media (max-width: 767px) {
  .page-top img {
    width: 5rem;
  }
}/*# sourceMappingURL=style.css.map */