$mainColor: #530700;
$bgColor: #5307001A;
$fontColor: #FFFFFF;

@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin en {
  font-family: "EB Garamond", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Zen Old Mincho", "EB Garamond", "Hiragino Mincho ProN", "游明朝",
    "Yu Mincho", "serif";
  font-size: 1.8rem;
  font-weight: 500;
  color: #000000;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 920px;
  margin-inline: auto;
  width: 100%;
  box-sizing: border-box;
  @include sp {
    max-width: 31.5rem;
  }
}
/* ===========================
  共通
   =========================== */
.section__ttl {
  font-size: 3rem;
  color: $mainColor;
  text-align: center;
  margin-bottom: 0.6rem;
  line-height: 1.1;
  letter-spacing: 9.9px;
  span {
    color: #000000;
    font-size: 2rem;
    @include en;
    display: block;
    margin-bottom: 3.8rem;
  }
}
/*あとでアドレスに設定

.address {
  font-family: "Noto Serif JP", "Hiragino Mincho ProN", "游明朝", "Yu Mincho",
    "serif";
}*/

/* ===========================
   header
   =========================== */
  
  #slider-sp {
    display: none;

    @include sp {
      display: block;
    }
  }

  #slider-pc {
    display: block;

    @include sp {
      display: none;
    }
  }

  .header__container {
    display: flex;
    align-items: center;
    padding: 1.6rem 0;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: space-between;
    width: 100%;
  }

  .header__logo {
    font-size: 2rem;
    white-space: nowrap;
    line-height: 0.6;
    // margin-right: 14rem;
  }


  .header__list {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2.15rem;
    justify-content: space-between;
  }

  .header__logo a {
    display: block;
    padding: 1rem 0;
    position: relative;
    color: #ffffff;
    transition: opacity 0.8s ease;
    &:hover {
      opacity: 0.5;
    }
  }

  .header__item a {
    display: block;
    padding: 1rem 0;
    position: relative;
    color: #ffffff;
    &::after {
      background-color: #ffffff;
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.1rem;
      width: 0%;
      height: 0.2rem;
      transition: width 0.8s ease;
    }
    &:hover::after {
      width: 100%;
    }
  }

  .catchcopy {
    color: #ffffff;
    position: absolute;
    text-shadow: 0.5rem 0.5rem 0.5rem #000000;
    // top: calc( 340 / 800 * 100vh); 
    top: calc( 510 / 800 * 100vh); 
    left: calc(62 / 1080 * 100vw); 
    height: calc(140 / 1080 * 100vh);
    font-size: calc(40 / 1080 * 100vw);
    line-height: 1.75;
    letter-spacing: 12px;
  }

/* ===========================
   feature
   =========================== */
#feature {
  background-image: url(../img/feature-back.svg);
  background-repeat: repeat;
  background-position: cover;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  width: 100%;

  .feature__inner {
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    width: 100%;
  }

  .feature__ttl {
    font-size: 3rem;
    color: $mainColor;
    line-height: 1.8;
  }
  .feature__dsc {
    line-height: 1.37;
  }
}
/* ===========================
   recommend
   =========================== */
#recommend {
  padding: 8rem 0;
  background-color: $bgColor;
}

.recommend-item {  
  display: flex;
  position: relative;
  margin-bottom: 11rem;
}

  .recommend__img {
  width: 65%;
  position: relative;
}

.caption {
  font-size: 1.6rem;
  line-height: 0.64;
  margin-top: 1.3rem;
}

.recommend__ttl {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 1.7rem;
}

.recommend__text {
  background-color: $mainColor;
  max-width: 50rem;
  color: $fontColor;
  font-size: 1.6rem;
  line-height: 1.56;    
  text-align: left;
  padding: 5rem 2rem 4.2rem 22rem;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}

.recommend-item:nth-of-type(even) {
  flex-direction: row-reverse;
  .caption {
    text-align: right;
  }
  .recommend__text {
  right: auto;
  top: 50%;
  left: 0;
  padding: 5rem 22rem 4.2rem 2rem; 
  }
}