$mainColor: #530700;

@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Zen Old Mincho", "EB Garamond", "Hiragino Mincho ProN", "游明朝",
    "Yu Mincho", "serif";
  font-size: 1.8rem;
  font-weight: 500;
}

body span.en {
  font-family: "EB Garamond", serif;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 114rem;
  padding: 0 3rem;
  margin-inline: auto;
}
/*あとでアドレスに設定

.address {
  font-family: "Noto Serif JP", "Hiragino Mincho ProN", "游明朝", "Yu Mincho",
    "serif";
}*/

/* ===========================
   header
   =========================== */
.header {
  
  #slider-sp {
    display: none;

    @include sp {
      display: block;
    }
  }

  #slider-pc {
    display: block;

    @include sp {
      display: none;
    }
  }

  .header__container {
    display: flex;
    align-items: center;
    padding: 1.6rem 8rem;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: space-between;
    width: 100%;
  }

  .header__logo {
    font-size: 2rem;
    white-space: nowrap;
    line-height: 0.6;
    // margin-right: 14rem;
  }


  .header__list {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2.15rem;
    justify-content: space-between;
  }

  .header__logo a {
    display: block;
    padding: 1rem 0;
    position: relative;
    color: #ffffff;
    transition: opacity 0.8s ease;
    &:hover {
      opacity: 0.5;
    }
  }

  .header__item a {
    display: block;
    padding: 1rem 0;
    position: relative;
    color: #ffffff;
    &::after {
      background-color: #ffffff;
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.1rem;
      width: 0%;
      height: 0.2rem;
      transition: width 0.8s ease;
    }
    &:hover::after {
      width: 100%;
    }
  }

  .catchcopy {
    color: #ffffff;
    position: absolute;
    text-shadow: 0.5rem 0.5rem 0.5rem #000000;
    // top: calc( 340 / 800 * 100vh); 
    top: calc( 510 / 800 * 100vh); 
    left: calc(62 / 1080 * 100vw); 
    height: calc(140 / 1080 * 100vh);
    font-size: calc(40 / 1080 * 100vw);
    line-height: 1.75;
    letter-spacing: 1.2rem;
  }
}

/* ===========================
   feature
   =========================== */
#feature {
  background-image: url(../img/feature-back.svg);
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  width: 100%;

  .feature__inner {
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    width: 100%;
  }

  .feature__ttl {
    font-size: 3rem;
    color: $mainColor;
    line-height: 1.8;
    // letter-spacing: 0.1rem;
  }
  .feature__dsc {
    line-height: 2.65;
    letter-spacing: 0.6rem;
  }
}

